html {
  font-family: 'open-sans', sans-serif;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(#035451, #62D1CD);
}
.container {
  width: 80%;
  background-color: white;
  box-shadow: 0px 0px 10px 1px black;
  margin:5% auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}
button {
  background-image: linear-gradient(to right, #424874 50%, #DCD6F7 50%);
  background-size: 200% 100%;
  background-position: bottom left;
  transition: all 0.3s;
  cursor: pointer;
  color: white;
  border: none;
  width: -webkit-fill-available;
  width: 50%;
  margin: 1rem auto;
}
button:hover {
  background-position: bottom right;
  color: black;
}
input, button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.6rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.4);
  transition: all 0.3s;
}
input:focus, button:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px black;
}
input[type="checkbox"] {
    background-color: #F7D4E3;
    color: #E771A2;
}
input[type="checkbox"]::before {
  height:2.7rem;
  padding:0.6rem !important;
  font-size: 1.5rem !important;
  content:'\f004';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color:inherit;
}
input[type="checkbox"]:hover {
  cursor: pointer !important;
}
.active {
  background-color: #E771A2 !important;
  color: #F7D4E3 !important;
}
.form-container {
  max-width: 45%;
  padding: 2rem;
  display: inline-flex;
  flex-direction: column;
  margin: 2rem;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
}